@import 'tailwindcss';
@config "../tailwind.config.js";
@theme static;
@theme static {
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #efefef;
    --text-color: #121212;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #242424;
    --text-color: #efefef;
  }
}

body {
  font-family: 'Geist', sans-serif;
  font-optical-sizing: auto;
  background-color: var(--background-color);
  color: var(--text-color);
}
