name: Backend Deployment
on: 
 workflow_run:
  workflows: ["Tests Backend"]
  types: [completed]
jobs:
  on-success:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps: 
    - uses: actions/checkout@v4
    - uses: denoland/setup-deno@v2
      with:
        deno-version: v2.2.10 # Run with latest stable Deno.

  on-failure:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
    steps:
      - run: echo 'The triggering workflow failed'
  push_docker: 
    name: Push Docker Image
    runs-on: ubuntu-latest
    needs: on-success
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./backend # Cambiar el contexto a la carpeta backend
          file: ./backend/Dockerfile.main # Asegúrate de que el Dockerfile esté en la carpeta backend
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/up-progress-backend:${{ github.sha }}